* {
  font-family: Georgia, serif;
  margin: 0 auto;
}

#container{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #e1ebe4;
    margin: 14px auto;
    max-width: 40vw;
}


#name{
    padding-left: 10px;
    font-size: 25px;
}

#text{
    padding: 5px 0;
    font-size: 16px;
    text-align: justify;
}

#imgDiv img{
    border-radius: 10px;
    max-width: 30vw;
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgDiv{
    align-items: center;
    justify-content: center;
}