* {
  font-family: Star Wars, serif;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: #ebe4d1;
  border-radius: 10px;
  margin: 20vh auto;
  max-width: 70vw;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}

#name {
  padding: 0 0;
  width: 60vw;
  margin-top: 10px;
}

#name input {
  font-size: 22px;
  padding: 0 10px;
  width: 60vw;
  line-height: 35px;
  border-style: hidden;
  border-radius: 10px;
  background-color: #EFEFEF;
}

#name input:focus {
  outline: none;
}

#img {
  width: 60vw;
  margin-top: 10px;
}

#img input {
  font-size: 22px;
  padding: 0 10px;
  width: 60vw;
  line-height: 35px;
  border-style: hidden;
  border-radius: 10px;
  background-color: #EFEFEF;
}

#img input:focus {
  outline: none;
}
#text {
  width: 60vw;
  margin-top: 10px;
}

#text input {
  font-size: 22px;
  padding: 0 10px;
  width: 60vw;
  line-height: 35px;
  border-style: hidden;
  border-radius: 10px;
  background-color: #EFEFEF;
}

#text input:focus {
  outline: none;
}

#job input {
  font-size: 22px;
  padding: 0 10px;
  width: 60vw;
  line-height: 35px;
  border-style: hidden;
  border-radius: 10px;
  background-color: #EFEFEF;
}

#job input:focus {
  outline: none;
}


#btnSubmit {
  height: 40px;
  width: 100px;
  border-style: hidden;
  border-radius: 10px;
  cursor: pointer;
}

#btnCancel {
  height: 40px;
  width: 100px;
  border-style: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 40vw;
  justify-content: space-around;
}

button:hover {
  background-color: #ded4b8;
}
