* {
  font-family: "Gill Sans", sans-serif;
}

#loginForm {
  align-items: center;
  justify-content: center;
}

#login {
  border-radius: 15px;
  background-color: white;
  margin: 10vh auto;
  width: 80vh;
  height: auto;
  border: 2px solid #80807a;
}

#title {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.textBox {
  font-size: 20px;
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 8px;
  margin: 12px 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #d6ceb4;
  line-height: 22px;
}

.textBox:focus {
  outline: none;
}

#boxCheck {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

#ac {
  margin-right: 10px;
}

#error {
  line-height: 10px;
  margin: 0 auto;
  text-align: left;
  text-overflow: clip;
  width: 80%;
  font-size: 13px;
  color: #ad1a1a;
}

.submit-btn {
  font-size: 20px;
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  border-style: hidden;
  line-height: 40px;
  margin: 22px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f7f7f5;
}

.submit-btn:focus{
  outline: none;
}