*{
    font-family: "Gill Sans", sans-serif;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.padLeft{
    padding-left: 20px;
}

.pad{
    padding: 15px 0;
}

.borderBottom{
    border-bottom: #02B4E2 2px solid;
}

.bold{
    font-weight: 650;
    margin-top: 8px;
}

.container{
    margin-top: 10px;
    display: flex;
}

.info p{
    margin: 3px 0;
}

.info{
    justify-content: flex-end;
}

.avatar{  
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.avatar img{
    border: 3px solid #02B4E2;
    border-radius: 10px;
    object-fit: fit;
    height: 90%;
    width: 90%;
}

.major{
    text-transform: uppercase;
    margin-top: 15px;
    background-color: #02B4E2;
    color: white;
    justify-content: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.title{
    color: #02B4E2;
    text-align: end;
    text-transform: uppercase;
}

p{
    margin: 3px auto;
    font-size: 16px;
    text-align: justify;
}

.tag{
    font-size: 20px;
    font-weight: 650;
}